* {
    margin: 0;
}

/* Common Styles */
.btn-primary {
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 20px;
    background-color: #FF5959;
    color: #FFFFFF;
}

section {
    text-align: center;
    margin-top: 130px;
}

.section-title {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.section-sub-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0px 400px;
}

.btn-amount {
    font-weight: 700;
    font-size: 30px;
    border: 0;
    border-radius: 5px;
    width: 136px;
    height: 123px;
    background-color: #FAFAFA;
    color: #FF5959;
    font-family: 'Inter', sans-serif;
}

.amount-selection {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.section-description {}

.color-theme {}

.color-primary {}

.color-secondary {}

/* Header Section */
.header {
    background-image: url('../resources/images/donation13.jpg');
    padding: 260px 320px 180px;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header-title {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 700;
}

.header-sub-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 80px;
}


/* Donate Section */

.other-amount {
    margin-top: 60px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #DADADA;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

/* Plan Section */
.plan-list {
    display: flex;
}

.section-title {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.section-sub-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0px 400px;
}


/* Description Section */



/* Updates Section */




/* Footer Section */